services:
  app:
    image: my-spring-app
    build: .
    ports:
      - "8083:8080"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: password
    ports:
      - "3306:3306"
